.nav-menu  {
    text-decoration: none;
    margin-top: 10px;
    color: #53caf0;
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
}

.loginRegister {
    display: flex;
}

.navigation {
    color: white;
}

#loginImage {
    margin: 3rem;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.loginForm {
    margin-top: 3rem;
    padding-bottom: 3rem;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
}

#loginImage {
    margin: 3rem;
    width: '100px';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    
}

@media only screen and (max-width: 600px) {
    .loginForm {
        width: 75%;
    }
  }
