.search-filters {
    width: 50%;
    margin: 20px auto;
    align-items: right;
    text-align: left;
    padding: 20px;
}

.radio-search {
    margin: auto;
    font-size: 20px;
}

.radio-search input {
    margin: 5px;
}

.search-posts {
    margin:auto;
}

#search-posts {
    width: 100%;
}


.image {
    display: inline-flex;
    padding: 20px;
}


.gallery_links {
    color: black;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.gallery_links:hover {
    color: black;
}

.posts {
    display: flex;
    flex-wrap: wrap;
}

.post {
    background-color: white;
    width: 500px;
    height: 500px;
    margin-bottom: 45px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    
}

.post_image {
  width: 100%;
  height: 75%;
  object-fit: cover;
  
}

.create_card {
    width: 75%;
    margin: 10px auto;
    padding: 20px;
    align-items: center;
}


.details_details {
    text-align: center;
}

.details_image {
    width: 75%;
    margin: 10px auto;
    border-radius: 5px;
}

.details_card, .comments_card {
    width: 75%;
    margin: 0px auto 20px auto;
}

.post_comments {
    text-align: left;
    margin: 20px;
}

@media only screen and (max-width: 600px) {
    .search-filters {
        display: block;
    }
    #search-posts {
        position: relative;
    }
}