.search-filters {
    width: 50%;
    margin: 20px auto;
    align-items: right;
    text-align: left;
    padding: 20px;
}

.radio-search {
    margin: auto;
    font-size: 20px;
}

.radio-search input {
    margin: 5px;
}

.search-posts {
    margin:auto;
}

#search-posts {
    width: 100%;
}

.pic-upload {
    margin-top: 3rem;
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    position: relative;
}

.success {
    text-align: center;
}

.image {
    display: inline-flex;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .search-filters {
        display: block;
    }
    #search-posts {
        position: relative;
    }
}