.contactCard {
    margin-top: 3rem;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
    position: relative;
}

#contactImage {
    margin: 3rem;
    width: '100px';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 600px) {
    .contactCard {
        width: 75%;
    }
  }