/* .fullApp {
  background-image: url("../images/subtle-prism.svg");
} */

#brand {
  color: #53caf0;
  text-decoration: none;
  font-weight: bold;

}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

#loginImage {
  width: 50%;
  height: auto;
}